<!DOCTYPE html>
<html lang="en" style="overflow-y: scroll;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <title>Yelp Camp</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/">Yelp Camp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/campgrounds/new">New Campground</a>
            </li>
           <% if(!user){ %>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
           <% } else { %>
            <li class="nav-item">
              <a class="nav-link">Signed as : <%= user.username %> </a>
            </li>
              <li></li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
           <% } %>
          </ul>
        </div>
      </nav>
      <div class="container">
        <% if(success && success.length > 0){ %> 
          <div class="alert alert-success" role="alert">
            <%= success %> 
          </div>
        <% }  %>
        <% if(error && error.length > 0 ){ %>  
          <div class="alert alert-danger" role="alert">
            <%= error %> 
          </div>
        <% } %> 
      </div>

